<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron text-center">
			<p>Hello! This is</p>
			<h1>Sneha Spandana Pilla</h1>
			<h4>Welcome to my Portfolio</h4>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>