<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="row">
            <div class="col-sm-8">
                <article class="jumbotron">
                    <h1>Portfolio</h1>
                    <p>Welcome to my Project Portfolio</p>
                </article>
            </div>
            <div class="col-sm-4">
                <aside class="well">
                    <div class="media">
                        <a href="/projects/project-1">
                            <div class="media-left">
                                <img src="https://dummyimage.com/60x60/000/fff.jpg&text=Project+1">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Project 1</h4>
                                <p>Sample Project 1 Description</p>
                            </div>
                        </a>
                    </div>
                    <div class="media">
                        <a href="/projects/project-2">
                            <div class="media-left">
                                <img src="https://dummyimage.com/60x60/000/fff.jpg&text=Project+2">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Project 2</h4>
                                <p>Sample Project 2 Description</p>
                            </div>
                        </a>
                    </div>
                    <div class="media">
                        <a href="/projects/project-3">
                            <div class="media-left">
                                <img src="https://dummyimage.com/60x60/000/fff.jpg&text=Project+3">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Project 3</h4>
                                <p>Sample Project 3 Description</p>
                            </div>
                        </a>
                    </div>
                    <div class="media">
                        <a href="/projects/project-4">
                            <div class="media-left">
                                <img src="https://dummyimage.com/60x60/000/fff.jpg&text=Project+4">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Project 4</h4>
                                <p>Sample Project 4 Description</p>
                            </div>
                        </a>
                    </div>
                </aside>
            </div>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>